.product-search{
    .search-box{
        display: flex;
        flex-direction:row;
        justify-content: space-around;

        fieldset{
            flex: 1 0;
            border: none;
            display: inline-block;

            button{
                font-size: 1.1em;                
            }

            &:last-child{
                flex: 1 0;
            }
        }
    }
}