<section class="product-search">
    <article class="search-box">
        <fieldset class="multi-entity">
            <label>Search</label>
            <typeahead [config]="typeaheadConfig"></typeahead>
        </fieldset>
        <fieldset class="price">
            <label>Price</label>
            <range [range-separators]="['< $400', '$401 to $1000', '$1001 to $10000', '> $10000']" (onRangeChange)="priceSelect($event)"></range>
        </fieldset>
        <fieldset class="buttons">
            <button (click)="search()">Search</button>
        </fieldset>
    </article>
</section>